<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="DotSpatial.Symbology.Forms.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="DotSpatial.Extensions" publicKeyToken="4d9e49339a7d240c" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotSpatial.Projections.Forms" publicKeyToken="52099474f11b7ff0" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup><userSettings>
    <DotSpatial.Symbology.Forms.Properties.Settings>
      <setting name="ColorButtonColor" serializeAs="String">
        <value>Blue</value>
      </setting>
      <setting name="DetailedPointSymbolControlFontFamilyName" serializeAs="String">
        <value />
      </setting>
      <setting name="DetailedPointSymbolControlSymbolWidth" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DetailedPointSymbolControlSymbolHeight" serializeAs="String">
        <value>0</value>
      </setting>
    </DotSpatial.Symbology.Forms.Properties.Settings>
  </userSettings>
</configuration>
